@model Entities.Todo
@{
    ViewData["Title"] = "Remover";
}

<div class="card">
    <div class="card-header">Tarefas a fazer</div>
    <div class="card-body">
        <p>Você realmente deseja remover a tarefa <strong> @Model.Task</strong>?</p>
        @Html.ActionLink("Sim", "RemoveConfirm", "Home", new { id = Model.Id }, new { @class = "btn btn-danger" })
        @Html.ActionLink("Não", "Index", "Home", null, new { @class = "btn btn-light" })
    </div>
</div>