@model Entities.ToDo
@{
    ViewData["Title"] = "Adicionar";
}

<div class="card">
    <div class="card-header">Tarefas a fazer</div>
    <div class="card-body">
        @using (Html.BeginForm("Add", "ToDo", FormMethod.Post))
        {
            <div class="form-group">
                <label>Tarefa</label>
                @Html.TextBoxFor(d => d.Task, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Tarefa</label>
                @Html.TextBoxFor(d => d.Description, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Previsão</label>
                @Html.TextBoxFor(d => d.Forecast, new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="@Url.Action("Index", "Task")" class="btn btn-default">Cancelar</a>
        }
    </div>
</div>