@model IEnumerable<Entities.ToDo>
@{
    ViewData["Title"] = "Tarefas";
}

<div class="card bg-light text-dark">    
    <div class="card-header">Tarefas a fazer</div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tarefa</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Task</td>
                        <td>
                            <div class="float-right">
                                @Html.ActionLink("Editar", "Edit", "ToDo", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })
                                @Html.ActionLink("Remover", "Remove", "ToDo", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.ActionLink("Adicionar", "Add", "ToDo", null, new { @class = "btn btn-success" })
    </div>
</div>